
@using HttpClient.ClientInterfaces

@inject IUserClient _userClient;
@inject IRatingClient _ratingClient;
@namespace Components


<div class="card">
     <div class="card-body">
         
         <p ><strong>EMAIL: </strong> @Email</p>
         <p> <strong>FIRSTNAME: </strong>@firstName</p>
         <p> <strong>LASTNAME: </strong>@lastName</p>
         <p> <strong>PHONE: </strong>@phone</p>
         <p> <strong>ADDRESS: </strong>@address</p>
         <p> <strong>RATING: </strong>@rating  / 5</p>
     </div>
    </div>

@code {
    
    [Parameter]
    public string Email { get; set; }
    
    private string firstName;
    private string lastName;
    private string phone;
    private string address;
    private double rating;
    
        <!--todo this component is for check the profiles  but will not be implement -->
    protected override async Task OnInitializedAsync()
    {
        var user = await _userClient.GetByIdAsync(Email);
        Email = user.Email;
        firstName = user.FirstName;
        lastName = user.LastName;
        phone = user.Phone;
        address = user.Address;

        var ratingDto = await _ratingClient.GetRatingMeanBySubject(Email);
        rating = ratingDto.Rating;


    }
    
}